<div class="body-nav-title">
  <div class="title-container-above-body">
    <h2>{{d-icon "comments"}}</h2>
    <h2>{{title}}</h2>
  </div>
  <div class="filter-icons-container">
    <h4>{{d-icon "filter"}}</h4>
    <h4>{{d-icon "sort-amount-up"}}</h4>
  </div>
  <button class="btn-default btn btn-icon-text" id="fake-create-topic">
    {{d-icon "plus"}}
    <span class="btn-text">Ask a Question</span>
  </button>
</div>